# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran Module Files
*.mod
*.smod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Intermediate and Output Directories
bin/
obj/
src/TestResults/

# User Project Files
*.user

# IDE Directories
.vs/

# Individual Files
src/Test Data/C Sharp Output.txt
src/Test Data/C Output.txt